<form class="d-flex flex-column" [formGroup]="commentForm">
    <label for="inputComment" class="mt-4 mb-4 h4 text-center">Envoyez un commentaire ! </label>
    <input class="form-control mb-1" id="inputComment" formControlName="content">
    <button class="btn btn-lg btn-dark" type="submit" [disabled]="commentForm.invalid" (click)="onSubmit()">Envoyer</button>
    <small *ngIf="success" class="text-center text-success">Votre commentaire a bien été envoyé !</small>
    <small class="text-center text-danger" *ngIf="commentForm.get('content').errors && commentForm.get('content').hasError('maxlength')">
        Un commentaire ne peut pas faire plus de 255 caractères
    </small>
</form>